<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sy.mapper.yhb.Goods_infoMapper">
	
    <!-- 分页 按条件搜索 -->
     <select id="getGoods_infoListBySearch" resultType="Goods_info" parameterType="Goods_info">
		select * from goods_info
		<trim prefix="where" prefixOverrides="and | or">
			<if test="goodsName != null">
			 and goodsName like  #{goodsName}
			</if>
		 </trim>
		 order by createTime desc
	</select>

	<select id="getGoods_infoList" resultType="Goods_info" parameterType="Goods_info">
		select * from goods_info  order by createTime desc limit #{starNum},#{pageSize}
	</select>

	<!--分页:按条件查询商品记录数-->
	<select id="count" resultType="int" parameterType="Goods_info">
		select count(1) from goods_info
		<trim prefix="where" prefixOverrides="and | or">
			<if test="goodsName != null">
				and goodsName like  CONCAT('%',#{goodsName},'%')
			</if>

		</trim>
	</select>

	<select id="countAll" resultType="int">
		select count(*) from goods_info
	</select>


	


	<!-- 根据主键查询商品 -->
	<select id="getGoods_infoById" resultType="Goods_info" parameterType="Goods_info">
		select * from goods_info where id = #{id}
    </select>
    
    <!-- 增加商品 -->
	<insert id="addGoods_info" parameterType="Goods_info">
		insert into goods_info(goodsName,goodsSN,marketPrice,realPrice,num,unit,state) values (#{goodsName},
		  #{goodsSN},#{marketPrice},#{realPrice},#{num},#{unit},#{state}
		)
	</insert>
    
    <!-- 根据Id删除商品 -->
	<delete id="deleteGoods_infoById" parameterType="Goods_info">
		delete from goods_info where id = #{id}
	</delete>
    
    
    <!-- 修改商品-->
	<update id="modifyGoods_info" parameterType="Goods_info">
		update goods_info set goodsSN=#{goodsSN},goodsName=#{goodsName},goodsFormat=#{goodsFormat},
		marketPrice=#{marketPrice},realPrice=#{realPrice},state=#{state},note=#{note},num=#{num},unit=#{unit} where id=#{id}
	</update>


	<update id="madifyUserStatus">
		update au_user set isstart = #{status} where id=#{id}
	</update>
	
</mapper>  
